#embody {
    display: grid;
    padding: 4ex;
    grid-template-areas:
        'buttons boxy'
        'footer footer';
    grid-template-columns: min-content 1fr;
    grid-template-rows: 80vh min-content;
    column-gap: 10px;
}

#boxy {
    color: rgb(128,255,192);
    background-color: black;
    font-family: "DejaVu Sans Mono", "Consolas", monospace;
    margin: 2ex;
    padding: 4ex;
    grid-area: boxy;
    overflow-y: scroll;
    white-space: pre-wrap;
}


#buttons {
    padding: 0ex;
    margin: 2ex;
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 100px;
}

#footer {
    text-align: center;
    grid-area: footer;
    font-size: 180%;
}

span.stdoutBanner {
    font-weight: bold;
}
